WindowsSOAClient/Web References/PatternAction/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.yourcompany.com/webservice/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.yourcompany.com/webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.yourcompany.com/webservice/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:LoginRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RequestBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:LoginResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Uri" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResponseBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Acknowledge" type="tns:AcknowledgeType" />
          <s:element minOccurs="0" maxOccurs="1" name="CorrelationId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReservationId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReservationExpires" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Build" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AcknowledgeType">
        <s:restriction base="s:string">
          <s:enumeration value="Failure" />
          <s:enumeration value="Success" />
        </s:restriction>
      </s:simpleType>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:LogoutRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LogoutRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestBase" />
        </s:complexContent>
      </s:complexType>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogoutResult" type="tns:LogoutResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LogoutResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseBase" />
        </s:complexContent>
      </s:complexType>
      <s:element name="GetCustomers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:CustomerRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SortExpression" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomersResult" type="tns:CustomerResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Customers" type="tns:ArrayOfCustomerTransferObject" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfCustomerTransferObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustomerTransferObject" nillable="true" type="tns:CustomerTransferObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerTransferObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumOrders" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LastOrderDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Orders" type="tns:ArrayOfOrderTransferObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderTransferObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderTransferObject" nillable="true" type="tns:OrderTransferObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderTransferObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiredDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Freight" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDetails" type="tns:ArrayOfOrderDetailTransferObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderDetailTransferObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderDetailTransferObject" nillable="true" type="tns:OrderDetailTransferObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDetailTransferObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Product" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Discount" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="PersistCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:PersistCustomerRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PersistCustomerRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="PersistAction" type="tns:PersistType" />
              <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:CustomerTransferObject" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="PersistType">
        <s:restriction base="s:string">
          <s:enumeration value="Insert" />
          <s:enumeration value="Update" />
          <s:enumeration value="Delete" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PersistCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersistCustomerResult" type="tns:PersistCustomerResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PersistCustomerResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:CustomerTransferObject" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetCustomerOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:OrderRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CustomerId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetCustomerOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerOrdersResult" type="tns:OrderResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Orders" type="tns:ArrayOfOrderTransferObject" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="GetCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="PersistCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:PersistCustomer" />
  </wsdl:message>
  <wsdl:message name="PersistCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:PersistCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerOrders" />
  </wsdl:message>
  <wsdl:message name="GetCustomerOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input message="tns:GetCustomersSoapIn" />
      <wsdl:output message="tns:GetCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersistCustomer">
      <wsdl:input message="tns:PersistCustomerSoapIn" />
      <wsdl:output message="tns:PersistCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerOrders">
      <wsdl:input message="tns:GetCustomerOrdersSoapIn" />
      <wsdl:output message="tns:GetCustomerOrdersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.yourcompany.com/webservice/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.yourcompany.com/webservice/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://www.yourcompany.com/webservice/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersistCustomer">
      <soap:operation soapAction="http://www.yourcompany.com/webservice/PersistCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerOrders">
      <soap:operation soapAction="http://www.yourcompany.com/webservice/GetCustomerOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.yourcompany.com/webservice/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://www.yourcompany.com/webservice/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap12:operation soapAction="http://www.yourcompany.com/webservice/GetCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersistCustomer">
      <soap12:operation soapAction="http://www.yourcompany.com/webservice/PersistCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerOrders">
      <soap12:operation soapAction="http://www.yourcompany.com/webservice/GetCustomerOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:2668/WebSOAService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:2668/WebSOAService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>